body {
	background-image:url('../img/light-textures.png');
	font-size: 16px;
	font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif;	
}

#page-wrap {
	text-align: left;
  	width: 850px;
  	margin: 0 auto;
}