body {
	background-image:url('../img/light-textures.png');
	font-size: 16px;
	font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif;	
}

#page-wrap {
	text-align: left;
  	width: 970px;
  	margin: 0 auto;
}

@media (min-width: 768px) {
  .page-wrap {
    width: 550px;
  }
}

@media (min-width: 992px) {
  .page-wrap {
    width: 770px;
  }
}

@media (min-width: 1200px) {
  .page-wrap {
    width: 970px;
  }
}